# ignore test data
dataset
# ignore venv stuff
lib/*
bin/*
pip-selfcheck*

# test result niftis
#
test/results/*
*__pycache__*
*.swp
*.pyc
*.directory

# setup.py workdit
build
#
_build

# setup.py dist directory
dist
dist/*
# egg metadata
*.egg-info
